{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/my.css'%}">
</head>

<body>
    <div class="card">
        <div class="header">
            <div>
                <h1 class="main-title">Hello ✨</h1>
                <h2 class="subtitle">I'm Mushthaq Hassan<br><span class="subtitle-regular">Full stack developer</span></h2>
                <p>
                    <a href="#" class="link-resume">Download my resume</a>
                </p>
            </div>
            <div class="profile">
                <img src="" alt="">
            </div>
        </div>
        <div class="social">
            <p class="title">Follow me on my social networks</p>
            <ul class="list">
                <li>
                    <a href="#" class="link twitter">twitter</a>
                </li>
                <li>
                    <a href="#" class="link linkedin">linkedin</a>
                </li>
                <li>
                    <a href="#" class="link github">github</a>
                </li>
            </ul>
        </div>
        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
    </div>
</body>

</html>