* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1440px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.logo a {
    width: 51%;
    display: block;
  }
  .logo a img {
    display: block;
    width: 100%;
  }
  .submit {
	padding: 10px 24px;
    background-color:#47A992;
    border-radius: 25px;
    color: #fff;
	  font-size: 18px;
    display: inline-block;
    width: max-content;
  }
  .nav-item .a-submit {
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 600;
    position: relative;
    display: block;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: var(--secondary-text);
    color: #47A992;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #47A992;
    padding: 10px 35px;
    border-radius: 25px;
    margin-left: 10rem;
  }
  .header {
    background-color: var(--section-background);
		height: 122px;
    background-color: #F5F7F8;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #42526e;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 94%;
  }
  
  .nav-item {
    margin-left: 2rem;
    display: inline-block;
    width: max-content;
  }
  
  .nav-item:first-child {
    margin-left: 0;
  }

  
  .nav-link {
    font-size: 20px;
    padding: 1rem 0;
    font-weight: 500;
    position: relative;
    display: block;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: var(--secondary-text);
  }
  .navlink:hover,
  .navlink:focus,
  .navlink:active {
    text-decoration: none;
    color: var(--primary-text);
  }
  ul:hover li:not(:hover) a {
    opacity: 0.3;
  }
  
  a:active::before {
    background-color: var(--formal-text);
  }
  
  .nav-link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #47A992;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }
  
  .nav-link:hover::before,
  .nav-link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
#spotlight {
	background-color: #F5F7F8;
	padding-top: 15px;
	
}
#spotlight div.countainer{

	
}
#spotlight div.countainer div.top {
	padding-top: 65px;
	position: relative;
	padding-left: 110px;
	width: 66%;
}
#spotlight div.countainer div.top div.star p {
	color: #47A992;
}
#spotlight div.countainer div.top h2{
  font-size: 53px;
  font-weight: 500;
  text-align: center;
  width: 95%;
  color: #212222;
  margin: 0 auto;
}
#spotlight div.countainer div.top div.underline {
	width: 44%;
    position: absolute;
    left: 264px;
    bottom: 90px;
}
#spotlight div.countainer div.top div.underline img {
	width: 100%;
	display: block;
	width: 97%;
    margin: 0 auto;
}
#spotlight div.countainer div.top p{
    text-align: center;
    font-size: 18px;
    width: 58%;
    padding: 36px 0 20px 0;
    color: #565a5aa3;
	  margin: 0 auto;
}

#spotlight div.countainer div.top-right{
}
#spotlight div.countainer div.top-right div.subimg{
	width: 13%;
  position: relative;
  left: 917px;
  bottom: 97px;
}
#spotlight div.countainer div.top-right div.subimg img{
	display: block;
  width: 100%;
}
#spotlight div.countainer div.top-right div.m-image{
  width: 41%;
  position: absolute;
  right: 113px;
  top: 158px;
}
#spotlight div.countainer div.top-right div.m-image img{
	width: 100%;
	display: block;
}
#spotlight div.countainer div.middle {
    display: flex;
    align-items: center;
    justify-content: center;
	  width: 75%;
    padding-bottom: 80px;
}
#spotlight div.countainer div.middle div.left {
	margin-right: 60px;
}
#spotlight div.countainer div.middle div.left form {
    display: flex;
    align-items: center;
    padding: 19px 15px;
    background-color: #dfdfdf63;
    border-radius: 10px;
    width: 140%;
}
#spotlight div.countainer div.middle div.right a.butten {
    padding: 15px 14px;
    background-color: #47A992;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
}
#spotlight div.countainer div.middle div.left form input {
	font-size: 16px;
}
#spotlight div.countainer div.middle div.left form input ::placeholder {

}
#work {
	padding: 0px 0;
	background-color: #F5F7F8;
}
#work section.top {
	width: 97%;
    margin: 0 auto;
}
#work section.top h3 {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 40px;
}
#work section.top p {
    color: #565a5ae0;
    text-align: center;
    width: 36%;
    margin: 0 auto;
    padding-bottom: 35px;
}
#work section.top ul {
	display: flex;
    margin-bottom: 30px;
    margin-left: 144px;
}	
#work section.top ul li {
    width: 27%;
    box-shadow: 1px 1px 12px #42526e;
    background: #fff;
    margin-right: 40px;
    border-radius: 15px;
}
#work section.top ul li div.title {
	padding: 24px 32px 12px;
    border-bottom: 2px solid #f4f5f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}
#work section.top ul li div.title div.simg {
	width: 18%;
}
#work section.top ul li div.title div.simg img {
	width: 100%;
	display: block;
}
#work section.top ul li div.title.bg {
	background-color: #f4f5f7;
}
#work section.top ul li div.title h5 {
	font-size: 25px;
	font-weight: 600;
}
#work section.top ul li div.content {
	padding-bottom: 50px;
	text-align: center;

}
#work section.top ul li div.content p {
	width: 66%;
  color: #565a5ae0;
}
#work section.top ul li div.content small {
	display: block;
    margin-bottom: 10px;
    font-size: 16px;
    width: 60%;
	color: #565a5ae0;
    font-weight: 500;
}
#work section.top ul li div.content a.button {
    display: inline-block;
    padding: 10px 76px;
    color: #ffffff;
    text-align: center;
    background-color: #47A992;
    border-radius: 6px;
}
#work section.top ul li div.content span.label {
	display: block;
	font-size: 16px;
	font-weight: 500;
}
#work div.bottem {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 24px;
}
#work div.bottem p {
	font-weight: 500;
}
#work div.bottem p b {
	font-weight: 700;
}
#work div.bottem a {
	color: #47A992;
	font-weight: 600;
}
#work section.bottem {
	padding: 30px 0;
	text-align: center;
}
#work section.bottem a.label {
	display: block;
	font-weight: 500;
	color: #47A992;
}
#work section.bottem div.contant {
	padding: 64px;
	background: #f4f5f7;
	width: 85%;
	margin: 90px auto 0;
}
#work section.bottem div.contant div.item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
#work section.bottem div.contant div.item div.left {
	width: 100px;
}
#work section.bottem div.contant div.item div.left img {
	width: 100%;
	display: block;
}
#work section.bottem div.contant div.item div.right {
	width: calc(100% - 160px);
	text-align-last: left;
}
#work section.bottem div.contant div.item div.right h3 {
	font-size: 36px;
	margin-bottom: 30px;
	font-weight: 600;
}
#work section.bottem div.contant div.item div.right p {
	font-size: 16px;
	margin-bottom: 20px;
}
#work section.bottem div.contant div.item div.right a.button {
	color: #47A992;
	font-weight: 600;
}
.curve img {
  background-color: #f5f7f8;
}
#highlights {
	padding: 40px;
	background-color: #42526e;
  margin-top: -10px;
}
#highlights section.item {
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}
#highlights section.item div.image_container {
	width: 39%;
  padding-top: 34px;
}
#highlights section.item div.image_container img {
	display: block;
	width: 100%;
}
#highlights section.item div.contant_box {
    width: 43%;
    padding-top: 75px;
}
#highlights section.item div.contant_box span.label {
    display: block;
    font-size: 12px;
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
	color: #47A992;
}
#highlights section.item div.contant_box h3 {
	font-size: 43px;
	font-weight: 600;
  color: #fff;
}
#highlights section.item div.contant_box h4 {
	font-size: 43px;
    font-weight: 600;
	margin-bottom: 28px;
  color: #fff;
}
#highlights section.item div.contant_box p {
	font-size: 20px;
	margin-bottom: 24px;
	width: 84%;
  color: #fff;
}
#highlights section.item div.contant_box a.button1 {
    padding: 12px 14px;
    background-color: #47A992;
    border-radius: 13px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-right: 16px;
}
#highlights section.item div.contant_box a.button2 {
	color: #47A992;
	font-size: 18px;
	font-weight: 500;
	border: 2px solid #47A992;
	padding: 10px 35px;
	border-radius: 16px;
}
#highlights section.item div.contant_box a.button img {
	display: inline-block;
}
.curve img {
  background-color: #f5f7f8;
}
.curve2 img {
  transform: rotate(-180deg);
  background-color: #f5f7f8;
}
.curve3 img {
  transform: rotate(-180deg);
  background-color: #f5f7f8;
}
.curve4 img {
  background-color: #f5f7f8;
}
#service{
  background-color: #F5F7F8;
  padding: 40px;
  margin-top: -8px;
}
#service section.wrapper{
  display: block;
}
#service div.top{
  text-align: center;
  padding-bottom: 30px;
}
#service div.top h2{
  font-size: 18px;
  color: #47A992;
}
#service div.top h3{
  font-size: 32px;
  padding-bottom: 12px;
}
#service div.bottom {

}
#service div.bottom ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#service div.bottom ul :hover{
  background-color: #C0CCDA;
}
#service div.bottom ul li{
  width: 32%;
  background-color: #f1f1f1;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 17px;
}
#service div.bottom ul li span.img{
  width: 60px;
  display: inline-block;
  margin-bottom: 10px;
}
#service div.bottom ul li span.img img{
  display: block;
  width: 100%;
}
#service div.bottom ul li h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#service div.bottom ul li p{
  font-size: 15px;
  margin-bottom: 10px;
}
#service div.bottom ul li a{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #47A992;
}
#service div.bottom ul li a div.arrow{
  width: 10px;
  margin-left: 6px;
  
}
#service div.bottom ul li a div.arrow img{
  display: block;
  width: 100%;
}
/* #banner {
  padding-top: 30px;
	min-height: 300px;

	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
	background-size: 600px 300px, 600px 300px;
  background-color: #F5F7F8;
}
#banner div.content h3 {
	font-size: 46px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 34px;
  width: 174%;
  margin-top: 20px;
}
#banner div.content a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 14px 20px;
	background-color: #47A992;
	border: 1px solid #47A992;
	border-radius: 4px;
	font-weight: 600;
	margin-left: 530px;
} */
footer {
	background-color: #f4f5f7;
}
footer section.top {
	padding: 60px 0 24px;
	display: flex;
	justify-content: space-between ;
  width: 100%;
}
footer section.top div.item {
	width: 23%;
}
footer section.top div.item.large {
	width: 50%;
}
footer section.top div.item.large p {
	font-weight: 500;
} 
footer section.top div.item h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
  color: #47A992;
}
footer section.top div.item p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 24px;
}
footer section.top div.item ul {

}
footer section.top div.item ul li {
	margin-bottom: 8px;
}
footer section.top div.item ul li a {
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	color: #42526E;
}
footer section.top div.item form {
	display: flex;
	justify-content: space-between;
}
footer section.top div.item input[type="email"] {
	width: 100%;
	margin-right: 24px;
	padding: 12px 24px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #c1c7d0;
	font-size: 16px;
}
footer section.top div.item input[type="submit"] {
	display: inline-block;
	font-size: 16px;
	padding: 12px 16px;
	border: 1px solid #47A992;
	color: #47A992;
	border-radius: 4px;
	cursor: pointer;
}
footer section.top div.social {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	align-items: center;
}
footer section.top div.social p {
	margin-right: 30px;
	margin-bottom: 0;
}
footer section.top div.social ul {
	display: flex;
	align-items: center;
}
footer section.top div.social ul li {
	margin-right: 8px;
}
footer section.top div.social ul li:last-child {
	margin-right: 0;
}
footer section.top div.social ul li a {
	width: 32px;
	display: block;
}	
footer section.top div.social ul li a img {
	display: block;
	width: 30px;
}
#about {
	background-color: #42526e;
  margin-top: -10px;
}
#about .about-container {
  display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
  width: 100%;
}
#about .about-container .left {
}
#about .about-container .left .content-box {
  padding-top: 75px;
  margin-left: 141px;
  width: 90%;
}
#about .about-container .left .content-box  .label {
  display: block;
  font-size: 18px;
  margin-bottom: 9px;
  font-weight: 500;
  color: #47A992;
  margin-right: 141px;
}
#about .about-container .left .content-box h3 {
  font-size: 43px;
  font-weight: 600;
  width: 70%;
  color: #fff;
}
#about .about-container .left .content-box p {
  font-size: 17px;
  margin-bottom: 24px;
  width: 60%;
  margin-top: 20px;
  color: #fff;
}
#about .about-container .left .content-box a.butten {
  padding: 12px 14px;
  background-color: #47A992;
  border-radius: 13px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-right: 16px;
}
#about .about-container .right {
  width: 100%;
  margin-left: 18%;
}
#about .about-container .right .ma-image {
  width: 121%;
  padding-top: 87px;
  margin-left: -219px;
}
#about .about-container .right .ma-image img {
  display: block;
	width: 100%;
}

#cards {
  background: #fff;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-right: 338px;
  background-color: #f4f5f7;
  padding-bottom: 40px;
  margin-top: -8px;
}
#cards .left {

}
#cards .left .contant {
  padding-top: 157px;
  margin-left: 95px;
  width: 77%;
}
#cards .left .contant .label {
  display: block;
  font-size: 13px;
  margin-bottom: 9px;
  font-weight: 500;
  color: #47A992;
  margin-right: 141px;
}
#cards .left .contant h3 {
  font-size: 36px;
  font-weight: 600;
  width: 49%;
  color: #212222;
}
#cards .left .contant p {
  font-size: 16px;
  margin-bottom: 24px;
  width: 57%;
  margin-top: 20px;
  color: #21222285;
}
#cards .left .contant a.butten {
  padding: 12px 14px;
  background-color: #47A992;
  border-radius: 13px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-right: 16px;
}
#cards .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards .card {
  background: #42526e;
  padding: 17px;
  border-radius: 0.5rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  width: 40%;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}
.profile {
  display: flex;
  align-items: center;

}
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #47A992;
  padding: 17px 11px 10px 11px;
  border-radius: 8px;
}
.profile {
  margin-bottom: 0.5rem;
}
.profile .img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.178);
}
.profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile .details {
  margin-left: 10px;
}
.details h4 {
  color: #fff;
}
.details p {
  color: #fff;
}
.op-star {
  color: #28223f;
  font-size: 1.1rem;
}
.testimonial {

}
.testimonial p {
  color: #fff;
  font-size: 15px;
  margin-top: 13px;
}
.outer:hover #card {
  animation-play-state: paused;
}
#cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

#connect {
  margin-top: -10px;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #42526e;
  
}
#connect .contant-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#connect .contant-box .left {
  
}
#connect .contant-box .left .img-cont {
  width: 100%;
  margin-left: 60px;
} 
#connect .contant-box .left .img-cont img {
  width: 100%;
  display: block;
}
#connect .contant-box .right {
  width: 60%;
}
#connect .contant-box .right .content {
  margin-left: 93px;
}
#connect .contant-box .right .content h3 {
  color: #fff;
  font-size: 37px;
  font-weight: 600;
  width: 90%;
}
#connect .contant-box .right .content p {
  color: #fff;
  width: 90%;
  font-size: 17px;
  font-weight: 400;
  padding-top: 8px;
}
#connect .contant-box .right .content .items {
  padding-top: 30px;
  display: flex;
}
#connect .contant-box .right .content .items .item {

}
#connect .contant-box .right .content .items .item h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
#connect .contant-box .right .content .items .item p {
  width: 89%;
  padding-top: 5px;
  color: #fff;
}




@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

@media (max-width: 467px) {
  #card {
    font-size: 10px;
    padding: 0.5rem !important;
    margin: 0.5rem;
    text-align: center;
  }
  .header2,
  .profile {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}










@media (max-width: 768px) {
	div.filter-section {
	  width: 350px;
	  padding: 10% 5% 5%;
	}
	.nav-menu {
	  position: absolute;
	  left: -100%;
	  top: 7rem;
	  flex-direction: column;
	  background-color: #fff;
	  width: 100%;
	  border-radius: 10px;
	  text-align: center;
	  transition: 0.3s;
	  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
  
	.nav-menu.active {
	  left: 0;
	}
  
	.nav-item {
	  margin: 1rem 0;
	}
  
	.hamburger {
	  display: block;
	  cursor: pointer;
	}
	.hamburger.active .bar:nth-child(2) {
	  opacity: 0;
	}
  
	.hamburger.active .bar:nth-child(1) {
	  transform: translateY(8px) rotate(45deg);
	}
  
	.hamburger.active .bar:nth-child(3) {
	  transform: translateY(-8px) rotate(-45deg);
	}
  }
  